.home-container {
  margin: 20px;
}

.page-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.page-description {
  font-size: 18px;
  color: #444444;
  margin-bottom: 20px;
}

.toxins-table-container {
  margin-bottom: 20px;
}

.toxins-table {
  width: 100%;
  border-collapse: collapse;
}

.toxins-table th,
.toxins-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.toxins-table th {
  background-color: #f2f2f2;
}

.toxins-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.error-message,
.loading-message {
  font-size: 18px;
  font-style: italic;
}

.error-message {
  color: red;
}

.loading-message {
  color: #777777;
}
